<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>


        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/zdarzeniowka</property>
        <property name="hibernate.connection.username">zdarzeniowka</property>
        <property name="hibernate.connection.password">kotek123</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

        <!-- Automatic schema creation (begin) === -->
        <!-- property name="hibernate.hbm2ddl.auto">create</property === -->


        <!-- Simple memory-only cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
        <property name="hibernate.show_sql">true</property >        

        <!-- ############################################ -->
        <!-- # mapping files with external dependencies # -->
        <!-- ############################################ -->

        <mapping resource="DBHistory.hbm.xml" />
        <mapping resource="DBPort.hbm.xml" />
        <mapping resource="DBNetworkDevice.hbm.xml" />
        <mapping resource="DBUser.hbm.xml" />
        <mapping resource="DBUserDevice.hbm.xml" />        

    </session-factory>
</hibernate-configuration>
